.sidebarOption {
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: color 0.2s ease-in;
  display: flex;
  align-items: center;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption-icon {
  margin: 0px 20px;
}

.sidebarOption p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
